{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'crud.menu.item.list.caption' |trans({}, 'YaCMSBundle') }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ 'crud.menu.item.field.name' |trans({}, 'YaCMSBundle') }}</th>
                <th>{{ 'crud.menu.item.field.link' |trans({}, 'YaCMSBundle') }}</th>
                <th>{{ 'crud.menu.item.field.icon' |trans({}, 'YaCMSBundle') }}</th>
                <th>{{ 'crud.menu.item.field.orderNo' |trans({}, 'YaCMSBundle') }}</th>
                <th>{{ 'crud.menu.item.field.enabled' |trans({}, 'YaCMSBundle') }}</th>
                <th>{{ 'crud.menu.item.field.locale' |trans({}, 'YaCMSBundle') }}</th>
                <th>{{ 'crud.menu.item.field.parentMenu' |trans({}, 'YaCMSBundle') }}</th>
                <th>{{ 'crud.action' |trans({}, 'YaCMSBundle') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for menuItem in menuItems %}
            <tr>
                <td>{{ menuItem.name }}</td>
                <td>{{ menuItem.link }}</td>
                <td>{{ menuItem.icon }}</td>
                <td>{{ menuItem.orderNo }}</td>
                <td>
                    {% if menuItem.enabled %}
                        {{ 'common.yes' |trans({}, 'YaCMSBundle') }}
                    {% else %}
                        {{ 'common.no' |trans({}, 'YaCMSBundle') }}
                    {% endif %}
                </td>
                <td>{{ menuItem.locale }}</td>
                <td>{{ menuItem.parentMenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_menu_item_show', { 'id': menuItem.id }) }}">{{ 'crud.show' |trans({}, 'YaCMSBundle') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_menu_item_edit', { 'id': menuItem.id }) }}">{{ 'crud.edit' |trans({}, 'YaCMSBundle') }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_menu_item_new') }}">{{ 'crud.createNew' |trans({}, 'YaCMSBundle') }}</a>
        </li>
    </ul>
{% endblock %}
